## **First Look**

In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
path = '/Users/Marcy_Student/Desktop/Marcy-Modules/Mod6/final-project/data/Motor_Vehicle_Collisions_-_Crashes_20251208.csv'

df = pd.read_csv(path, parse_dates=['CRASH DATE'])
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2022-01-01,7:33,NaN,NaN,40.771477,-73.918240,"(40.771477, -73.91824)",HOYT AVENUE NORTH,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4491400,Sedan,NaN,NaN,NaN,NaN
1,2022-01-01,4:30,NaN,NaN,NaN,NaN,NaN,Southern parkway,Jfk expressway,NaN,...,Unspecified,NaN,NaN,NaN,4491626,Sedan,Sedan,NaN,NaN,NaN
2,2022-01-01,7:57,NaN,NaN,NaN,NaN,NaN,WESTCHESTER AVENUE,SHERIDAN EXPRESSWAY,NaN,...,NaN,NaN,NaN,NaN,4491734,Sedan,NaN,NaN,NaN,NaN
3,2022-01-01,5:17,NaN,NaN,40.746930,-73.848660,"(40.74693, -73.84866)",GRAND CENTRAL PKWY,NaN,NaN,...,Unsafe Lane Changing,NaN,NaN,NaN,4491857,Sedan,Sedan,NaN,NaN,NaN
4,2022-01-01,1:30,NaN,NaN,40.819157,-73.960380,"(40.819157, -73.96038)",HENRY HUDSON PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4491344,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369996,2025-12-02,10:38,BRONX,10475.0,40.884712,-73.831300,"(40.884712, -73.8313)",DYRE AVE,BOSTON RD,NaN,...,NaN,NaN,NaN,NaN,4861707,Sedan,NaN,NaN,NaN,NaN
369997,2025-12-02,19:05,BRONX,10451.0,40.814716,-73.922070,"(40.814716, -73.92207)",NaN,NaN,328 E 145 ST,...,Unspecified,NaN,NaN,NaN,4861762,Sedan,Sedan,NaN,NaN,NaN
369998,2025-12-02,20:21,BROOKLYN,11219.0,40.639004,-74.000400,"(40.639004, -74.0004)",NaN,NaN,948 50 ST,...,NaN,NaN,NaN,NaN,4861807,Sedan,NaN,NaN,NaN,NaN
369999,2025-12-02,5:50,NaN,NaN,40.709960,-73.989334,"(40.70996, -73.989334)",FDR DRIVE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4861697,Sedan,NaN,NaN,NaN,NaN
370000,2025-12-02,11:40,MANHATTAN,10016.0,40.749115,-73.974520,"(40.749115, -73.97452)",E 40 ST,QUEENS MIDTOWN TUNNEL EXIT,NaN,...,NaN,NaN,NaN,NaN,4861728,Com,NaN,NaN,NaN,NaN

In [50]:
df.iloc[:,10:]

,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4491400,Sedan,NaN,NaN,NaN,NaN
1,0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,NaN,NaN,NaN,4491626,Sedan,Sedan,NaN,NaN,NaN
2,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4491734,Sedan,NaN,NaN,NaN,NaN
3,1,0,0,0,0,0,1,0,Passing or Lane Usage Improper,Unsafe Lane Changing,NaN,NaN,NaN,4491857,Sedan,Sedan,NaN,NaN,NaN
4,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4491344,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369996,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4861707,Sedan,NaN,NaN,NaN,NaN
369997,0,0,0,0,0,0,0,0,Glare,Unspecified,NaN,NaN,NaN,4861762,Sedan,Sedan,NaN,NaN,NaN
369998,1,0,1,0,0,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,NaN,NaN,NaN,NaN,4861807,Sedan,NaN,NaN,NaN,NaN
369999,1,0,0,0,0,0,1,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,4861697,Sedan,NaN,NaN,NaN,NaN
370000,1,0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4861728,Com,NaN,NaN,NaN,NaN

In [52]:
df['vehicle_type_code_1'].value_counts()

vehicle_type_code_1
Sedan                                  169293
Station Wagon/Sport Utility Vehicle    127157
Taxi                                    10211
Pick-up Truck                            8509
Bike                                     6979
                                        ...
Ladder                                      1
NYPD Tow T                                  1
Fdny Fire                                   1
Traffic To                                  1
Pick Up Tr                                  1
Name: count, Length: 866, dtype: int64

In [54]:
print(df['number_of_persons_killed'].sum())
print(df['number_of_persons_injured'].sum())

1046
205869

In [39]:
display(df.isna().sum())
print("-------------------------------------")
display(df.dtypes)

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          107666
ZIP CODE                         107718
LATITUDE                          24170
LONGITUDE                         24170
LOCATION                          24170
ON STREET NAME                   105048
CROSS STREET NAME                180849
OFF STREET NAME                  264957
NUMBER OF PERSONS INJURED             0
NUMBER OF PERSONS KILLED              0
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      2492
CONTRIBUTING FACTOR VEHICLE 2     87627
CONTRIBUTING FACTOR VEHICLE 3    336544
CONTRIBUTING FACTOR VEHICLE 4    361202
CONTRIBUTING FACTOR VEHICLE 5    367372
COLLISION_ID                          0
VEHICLE TYPE CODE 1                5943
VEHICLE TYPE CODE 2              125095
VEHICLE TYPE CODE 3              338950
VEHICLE TYPE CODE 4              361688
VEHICLE TYPE CODE 5              367483
dtype: int64

-------------------------------------

CRASH DATE                       datetime64[ns]
CRASH TIME                               object
BOROUGH                                  object
ZIP CODE                                float64
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED                 int64
NUMBER OF PERSONS KILLED                  int64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
dtype: object

In [40]:
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(" ", "_")
)
df.columns

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'location', 'on_street_name', 'cross_street_name',
       'off_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1',
       'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
       'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
       'collision_id', 'vehicle_type_code_1', 'vehicle_type_code_2',
       'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5'],
      dtype='object')